
<div class="virtual">VIRTUAL MARKET</div>
<br>
<div class="titlu">" A big buisness start small "</div><br>
<div class="titlu2">RICHARD BRANSON</div>
<br>
<img class="img-market" src="https://wallpapercave.com/wp/wp3537552.jpg" width="650" height="300"><br>

<div class="float-right" style="float: left">
  <br><br>
  <div class="goods">YOUR GOODS</div>
</div>
<div *ngIf="flag; then primaryBlock; else elseBlock">this is ignored</div>
<ng-template #elseBlock>
  <div>You need to login</div>
</ng-template>

<ng-template #primaryBlock>
  <div id="form1" class="float-right" style="float: right">
    <form class="form" class="form-inline my-2 my-lg-0" class="float-right">
      <input type="search" (ngModelChange)="searchProducts(key.value)" #key="ngModel" ngModel
             name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search products..." required>
    </form>
  </div>
  <br><br><br>
    <div id="div3" >
      <button (click)='onAddProduct()' class="login100-form-btn" style="">
        Add Product
      </button>
  </div>
  <br><br>
  <tr *ngFor="let product of products" class="col-sm-10">
    <div class="col-sm-10">
      <div class="card">
        <div class="image">
          <img src="https://kittysnack.com/en/assets/img/hanoi-street-food/restaurant-hanoi.jpg" alt="W3Schools.com" />
        </div>
        <div class="card-inner">
          <div class="header">
            <h2>{{product.productName}}</h2>
          </div>
          <div class="header">
            {{product.productCategory}}
          </div>
          <div class="buttons">
            <div id="div1">
              <button (click)="onModifyProduct(product)" class="login100-form-btn" style="">
                Modify
              </button>
            </div>
            <div id="div2">
              <button (click)='onDeleteProduct(product)' class="login100-form-btn" style="">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tr>
</ng-template>


