<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <!--  <link rel="icon" type="image/png" href="./src/app/dummySignIn/images/icons/favicon.ico"/>-->
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/bootstrap/css/bootstrap.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" src="/VirtualMarketApp/src/app/SignIn/fonts/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/animate/animate.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/css-hamburgers/hamburgers.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" src="/VirtualMarketApp/src/app/SignIn/vendor/animsition/css/animsition.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/select2/select2.min.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/daterangepicker/daterangepicker.css">
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" src="/VirtualMarketApp/src/app/SignIn/css/main.css">
  <link rel="stylesheet" type="text/css" src="/VirtualMarketApp/src/app/SignIn/cssutil.css">
  <!--===============================================================================================-->
</head>
<body>

<div class="virtual">VIRTUAL MARKET</div>
<br>
<div class="titlu">" A big buisness start small "</div><br>
<div class="titlu2">RICHARD BRANSON</div>
<br>
<img class="img-market" src="https://wallpapercave.com/wp/wp3537552.jpg" width="650" height="300"><br>

<!--#signupForm="ngForm" (ngSubmit)="registerUser(signupForm)"-->
<div class="limiter">
<!--  <div class="container-login100">-->
<!--    <div class="wrap-login100">-->
      <form name="form" (ngSubmit)="addProduct()" #f="ngForm" class="login100-form validate-form p-l-55 p-r-55 p-t-178">
					<span class="login100-form-title">
						Add Your Product
					</span>
        <div class="div-form">
          <label class="label">Name of product:</label><br>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Product Name">
            <input id="productName" class="input100" type="text" name="productName" [(ngModel)]="model.productName" placeholder="Product Name">
            <span class="focus-input100"></span>
          </div>
          <label class="label">Category:</label><br>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter Product Category">
            <input id="productCategory" class="input100" type="text" name="productCategory" [(ngModel)]="model.productCategory" placeholder="Product Category">
            <span class="focus-input100"></span>
          </div>
          <label class="label">Photo:</label><br>
          <div class="wrap-input100 validate-input m-b-16" data-validate = "Please enter Product Photo">
            <input id="productPhoto" class="input100" type="text" name="productPhoto" [(ngModel)]="model.productPhoto" placeholder="Product Photo">
            <span class="focus-input100"></span>
          </div>
          <label class="label">Details:</label><br>
          <div class="wrap-input101 validate-input m-b-16" data-validate = "Please enter Product Description">
            <textarea id="productDescription" class="input101" rows="2" columns="2" type="text" name="productDescription" [(ngModel)]="model.productDescription" placeholder="Product Description">
            </textarea>
            <span class="focus-input100"></span>
          </div>
          <div class="container-login100-form-btn m-b-16">
            <button class="login100-form-btn">
              Add Product
            </button>
          </div>
        </div>
      </form>
    </div>
<!--  </div>-->
<!--</div>-->


<!--===============================================================================================-->
<script src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/bootstrap/js/popper.js"></script>
<script src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/daterangepicker/moment.min.js"></script>
<script src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/VirtualMarketApp/src/app/SignIn/vendor/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<!--<script src="js/main.js"></script>-->

</body>
</html>
